@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@font-face {
    font-family: 'DIN Condensed';
    src: local('DIN Condensed Regular'), local('DIN-Condensed-Regular'),
        url('../components/font-file/DINCondensed-Regular.woff2') format('woff2'),
        url('../components/font-file/DINCondensed-Regular.woff') format('woff'),
        url('../components/font-file/DINCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    overflow-x: hidden;
  }
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.wrapper{
    margin: 0% 375px 0px 375px;
    // overflow-x: hidden;
    &-st{
        margin: 0 auto;
        width: 1220px;
        @media(max-width:1490px){
            margin: 0 0 0 0%;
        }
        @media (max-width:1170px) {
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
            width: 100%;
        }
    }
    // @media(max-width: 1280px){
    //     margin: 0% 50px 0px 50px;
    // }
    
}
.policy{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid #002F51;
    &:hover{
        transition: all .2s ease-in-out;
        border-bottom:2px solid white;
    }
}
.h1{
    font-family: "DIN Condensed";
    font-weight: 400;
    font-size: 36px;
    line-height: 43.2px;
    &--white{
        color: #FFFFFF;
        font-family: "DIN Condensed";
    line-height: 86px;
    font-size: 72px;
    letter-spacing: 1.5%;
    font-weight: 400;
    }
}
.h3{      
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 27px;
    letter-spacing: 1.5%;
    color: #00182A;
    &--white{
        color: #FFFFFF;
        font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 27px;
    letter-spacing: 1.5%;
    }
    &--grey{
        color: #808C95;
        font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 27px;
    letter-spacing: 1.5%;
    font-weight: 400;
    }
    &--uppercase{
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        line-height: 27px;
        letter-spacing: 1.5%;
        align-self: self-start;
        margin: 160px 25px;
        @media (max-width:1170px) {
            margin: 160px 38px;
        }
        &--right{
            text-transform: uppercase;
            color: #FFFFFF;
            font-size: 18px;
            font-family: 'Inter', sans-serif;
            line-height: 27px;
            letter-spacing: 1.5%;
            align-self: self-start;
            margin: 160px -230px; 
        }
    }
}
.h4{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    line-height: 21px;
    letter-spacing: 1.5%;
    color: #00182A;
    &--white{
        color: #FFFFFF;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 1.5%;
    }
    &--grey{
        color: #808C95;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 1.5%;
        font-weight:400;
    } 
    &--divider{
        color: #FFFFFF;
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.3em !important;
    }
}
.left{
    max-width: 570px;
    display: flex;
    flex-direction: column;
    gap: 15px !important;
}
.right{
    margin: 40px 0;
    max-width: 370px;
    @media (max-width:1170px) {
        max-width: 570px;
    }
}
.about-theme{
    // margin-left: -163px;
    @media (max-width:1170px) {
        margin-left: 0;    
    }
    @media (max-width:1490px) {
        margin-left: 0; 
    }
}
.m-top{
    margin-top: 60px;
    @media (max-width:1170px) {
        margin-top: 30px;
    }
}
.company-article{
    max-height: 585px;
    @media (max-width:1170px) {
        max-height: 100%;
    }
}
.mg-t-h{
    margin-top: 30px;
    @media (max-width:1170px) {
        margin-top: 0px;
    }
}
.mg-t{
    margin-top: 150px;
    @media (max-width:1170px) {
        margin-top: 0px;
    }
}
.about{
    margin: 120px 0 0 0;
    &__content{
        display: flex;
        gap: 30px;
  width: 65.5vw;
  margin: 30px -23.2%;
  @media (max-width:1280px) {
    // margin: 0px -53%;
    // flex-direction: column;
    // flex-direction: column;
  }
  @media (max-width:1170px){
    flex-direction: column;
  }
        &-item{
            width: 570px;
            display: flex;
            flex-direction: column;
            gap: 28px;
            @media (max-width:1170px) {
                width:100%;
                // margin-left: 32px;
            }
        }
    }
}

button.sub-form{
    background: #002F51;
    border: none;
    width: 270px;
    height: 57px;
}
.rep-mob{
    @media (max-width:1170px) {
        flex-direction: column;
    }
    
}
.art-img{
margin: 0 auto;
  width: 100%;
}
.justify{
    text-align: justify;
}
.st-padding{
    margin: -11px 0px 120px 8%;
    @media (max-width:1170px) {
        margin: 0;
    }
}
.border-b{
    padding-bottom: 65px;
    border-bottom: 2px solid #002F51;
    @media(max-width:1170px){
        border-bottom: none;
        padding-bottom: 0px;
    }
}
.rep-art{
    width: 270px;
    text-align: justify;
    @media (max-width:1170px) {
        width: 100%;
        // margin-left: 32px;
        // margin-right: 32px;
    }
    &-exept{
        // width: 570px;
        @media (max-width:1170px) {
            width: 100%;
            // margin-left: 32px;
            // margin-right: 32px;
        } 
    }
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width:1170px) {
        margin: -90px 15%;
    }
    &--input{
        width: 270px;
        border: none;
        border-bottom: 2px solid #002F51;
    }
    &-main{
        display: flex;
    flex-direction: column;
    gap: 30px;
        @media (max-width:1170px) {
            display: flex;
        flex-direction: column;
        gap: 30px;
        margin: -90px 0;
        }
        
    }
}
.check{
    display: flex;
    width: 270px;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: -20px 0px 0px -4px;
    
    &--box{
        width: 18px;
        height: 18px;
        accent-color: #002F51;
        border: 2px solid #002F51;
        align-self: baseline;
    margin: 3px;
    }
}
.blue-shells{
    flex-direction: row;
     margin-top: 120px;
}
.rel-pos{
    position: relative;
}
.full-width {
// position: absolute;
// position: static;
//   width: 100vw;
//   margin-left: 50%;
//   transform: translate3d(-50%, 0, 0);
}
.services-margin{
    margin-left: 211px;
    @media (max-width:1490px) {
        margin-left: 180px;
    }
    @media (max-width:1170px) {
        margin-left: 0;

    }
   
}
.transition-text-div{
    display: flex;
    flex-direction: column;
    @media (max-width:1170px) {
        display: flex;
    flex-direction: column;
    }
}

.dir-col{
    @media (max-width:1170px) {
        display: flex;
    flex-direction: column;
    }
    
}
.phone{
    color: #00182A;
    text-decoration: none;
    // padding: 0 45px;
    // margin: 0 45px;
    margin-left: 40px;
    &:visited::focus::hover::active{
        color: #00182A;
        @media (max-width:1170px) {
            display: none;
        }
    }
}
.phone-ham{
    color: #00182A;
    text-decoration: none;
    // padding: 0 45px;
    padding: 0;
    position: absolute;
    right: 0; 
    margin: 40px;
}
.paragraph-article{
    width: 570px;
    @media (max-width:1170px) {
        width: 100%;
    }
}
.divider{
    height: 168px;
    // width: 100%;
    // background: #8DC4EB;
    // position: absolute;
    // bottom: 0;
    // margin: 10% -92%;
    margin: 120px 0 0 -88.4%;
display: flex;
gap: 30px;
@media (max-width:1280px) {
    // margin: 200px 0 0 -55.4%;
    margin: 200px 0 0 -102.4%;
}
    &__article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // margin: 0 0 0 25%;
        width: 100%;
        margin: 0 25px;
    }
    &__left{
        height: 168px;
        width: 70.8vw;
        background: #8DC4EB;
        display: flex;
        @media (max-width:1280px) {
            width: 81.8vw;
        }
        &-img{
            width: 270px;
            height: 296px;
            margin: -10.7% 0 0 0;
        }
        &-content{
            display: flex;
            margin: 0 0 0 28%;
            @media (max-width:1280px) {
                margin: 0 0 0 0%;
            }
        }
    }
    &__right{
        height: 168px;
        width: 30vw;
        background: #8DC4EB;
    }
}
.aside-form{
    width: 270px;
    // max-width: 100%;
    // width: 40%;
    float: left;
    // margin: -10% 30px 0 0;
    // position: absolute;
    // left: 180px;
    // top: -27px;
    // margin: -5% -15%;
    @media (max-width:1170px) {
        // display: none;
    }
    &--cont{
        // margin: -7.1% 30px 0 12%;
        margin: -10.3% 30px 0 30px;
        @media (max-width: 1170px) {
            margin: 0 auto;
            // margin: -0 30px 0 15% !important;
        }
        @media(max-width:1490px){
            // margin: -7.1% 30px 0 5%;
        }
    }
    @media (max-width:1280px) {
        left: 40px;

    }
}
.parag{
    max-width: 450px;
    display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.logo{
    width: 270px;
    height: 296px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 85px;
}
.article__images{
    &--block{
        display: flex;
        // flex-wrap: wrap;
        // max-width: 100%;
        gap: 30px;
        width: 165%;
        height: auto;
    }
}
img {
    // max-width: 100%;
    // height: auto;
    }

.huge-img{
@media (max-width:1490px) {
    margin: 0;
}

}
.form-img{
    width: 270px;
    height: 174px;
    // margin-bottom: 30px;
    margin-top: 60px;
    @media (max-width:1170px) {
        margin-bottom: 0;
        margin-top: 0;
    }
}
.no-scroll {
    position: fixed;
    overflow-y: scroll !important;
    width: 100%;
    height: 100%;
    }
.header.open .container__header-list body{
    overflow: hidden;
    position: fixed;
}
.form{
    @media (max-width:1290px) {
        margin: 0px 30px 0 0% !important;
    }
}
.override{
    &:last-child{
        padding-bottom: 120px;
    }
    @media (max-width:1290px) {
        margin: 0% !important;
    }
    @media (max-width:1170px) {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        margin: 0 0px !important;
    }
}

.foot-add{
    width: 101vw;
  height: 495px;
//   margin: 0 -9%;
  background: #002F51;
  display: flex;
  justify-content: center;
  align-items: center;
  @media(max-width:1490px){
    // margin: 0 -3.7%;
    width: 100vw;
  }
  @media (max-width:1170px) {
    height: 100%;
  }
}
#name-label{
    visibility: hidden;
}
// input#name:hover #name-label{
//     visibility: visible !important;
// }
#phone-label {
    visibility: hidden;
  }


  .show{display:block!important}
  .crop{
    padding-left: 25%;
    @media (max-width:1170px) {
        padding-left: 0;
    }
  }
  #registration{
    display: none;
  }
//   #tel:focus #phone-label {
//    display: block;
//   }
.foot-str{
    margin: 0 -0% !important;
}

    .selector a p{
        border-bottom: 2px solid transparent;
    
    }
    .selector a .main{
        width: 58%;
    }
    .selector a .serv{
        width: 58%;
    }
    .selector a .ad{
        width: 68%;
    }
    .selector a .ab{
        width: 100%;
    }
    .selector a .cont{
        width: 66%;
    }
.selector a:hover p{
    transition: all .2s ease-in-out;
    border-bottom:2px solid white;
}
// .menu-footer li a:hover p {
//     border-bottom:2px solid #002F51;
//     &:hover{
       

//     }
// }
input[type="checkbox"] {
appearance: none;
	min-width: 18px;
	height: 18px;
	border: 2px solid #002F51;
	background-clip: content-box;
	padding: 3px;
&:checked{
    accent-color: #002F51;
    background-color:#002F51;
}
}
.d-n{
    display: none;
}
.modal{
//    display: none;
top:50%;
left: 40%;
   position: absolute;
   z-index: 3;
}
input:focus {
    outline: none;
  }
.modal .active{
    visibility: visible;
    position: relative;
    // position: absolute;
    // left: 50%;
    // top: 50%;
    z-index: 3;
}
.mobile-h{
    margin-left: 32px;
}
.contents{
    // margin: -7% 5%;
    // display: flex;
    // flex-basis: 25% 58.33% 16.67%;
    @media (max-width:1170px) {
        width: 100%;
        overflow-x: hidden;
        flex-direction: column;
        // margin: 32px;
        padding: 32px;
        margin: 0 auto;
        
    }
    &__item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        @media (max-width:1170px) {
            flex-direction: column;
            // margin: 32px;
        }
        &:last-child{
            margin-bottom: 120px;
        }
    }
}
li.service:hover .arrow{
    transform: rotate(180deg);
    transition: all .2s ease;
}
li.service .arrow{
    transition: all .2s ease;
}
// img.arrow:hover{
//     transform: rotate(180deg);
//     transition: all .2s ease-in-out;
// }
.service{
    &:after{
        // content:url('../components/images/arrow.png');
        // width: 16px;
        // height: 14px;
        
        }
}
// .image-res{
//     width: 100%;
//     height: auto;
// }
// .first-page{
//     // min-width: 670px;
//     width: 100%;
//     height: auto;
//     // object-fit: cover;
//     // background-size: contain;
//     // background: url('../components/images/main-first.jpg');
// }
// .second-page{
//     // min-width: 575px;
//     width: 100%;
//     height: auto;
//     // object-fit: cover;
//     // background: url('../components/images/main-second.jpg');
//     // background-size: contain;
// }

.menu{
//  position: relative;
 border-bottom: 2px solid #002F51;

}
.dropdown{
    position: relative;
  display: inline-block;
  min-width: 100px;
  @media (max-width:1170px) {
    position: relative;
    display: inline-block;
    max-width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.dropdown-content a {
    // color: black;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    @media (max-width:1170px) {
        color: white;
    }
  }
.dropdown-content {
    display: none;
    position: absolute;
    left: -15px;
    background-color: #8DC4EB;
    min-width: 369px;
    border: 15px solid white;
    z-index: 1;
    border-top: 24px solid white;
    @media (max-width:1170px) {
        border: none;
      position: static;
      border-top: none;
      background: transparent;
      background-color: transparent;
      color: white;
      box-shadow: none;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .dropdown-content a:first-child{
    margin-top: 25px;
    @media (max-width:1170px) {
        margin-top: 0px;
    }
  }
  .contact-form input:invalid+b:before {
    content: "Form is invalid";
    color: red;
  }
  
  input[type="text"]:invalid~label {
    color: red;
  }
  .dropdown-content a{
    background: #8DC4EB;
    // height: 74px;
    height: 47px;
    display: flex;
    padding: 30px;
    justify-content: flex-start;
    align-items: center;
    @media (max-width:1170px) {
        background: transparent;
        justify-content: center;
        border-bottom: 2px solid transparent;
    }
  }
  .dropdown-content a p{
    @media (max-width:1170px) {
        border-bottom: 2px solid transparent;
    }
    
  }
  .form-n{
    margin-top: 60px;
    @media (max-width:1170px) {
        margin-top: 30px;
    }
  }
  .dropdown-content a:hover{
    background-color: white;
    color: black;
    @media (max-width:1170px) {
        background-color: transparent;
        color: white;
    }
  }
  .dropdown-content a:hover p
  {
    
    @media (max-width: 1170px) {
        color: white;
        transition: all .2s ease-in-out;
        background-color: transparent;
        border-bottom: 2px solid white;
    }
}
.dropdown-content a:last-child{
    // margin: 0px 0px 0px 0px;
   margin-bottom: 25px;
   @media (max-width:1170px) {
    margin-bottom: 0px;
   }
}
.dropdown-content a:hover{
    transition: all .2s ease-in-out;
    
}
.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
.header-list{
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 30px 10px 0px 0;
    // flex-wrap: wrap;
    // width: 100vw;
    // border-bottom: 2px solid #002F51;
    padding: 0 0px 25px 0;
    @media (max-width:1170px) {
        flex-wrap: nowrap;
    }
    &--cont{
        // margin: 30px 0px 30px 30.6%;
        @media (max-width:1170px) {
            margin: 50px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 396px;
            justify-content: flex-start;
            margin: 124px 0;
            width: 100vw;
        }
    }
    @media (max-width:1280px) {
        // flex-wrap: wrap;
        // // margin: 30px 0px 30px 200px;
        // margin: 30px 0px 30px 37%;
        display: flex;
        // flex-direction: column;
        // width: 100%;
        // border-bottom: 0;
    }
}
.header.open .container__header-list{
    overscroll-behavior: contain;
    @media (max-width:1170px) {
        transform: translateX(100%);
        height: 100vh;
        overscroll-behavior-y: contain;
        overflow-y: scroll;
    }
}
.header.open .container__header-burger span{
   background-color: white;
}
.header.open .container__header-burger span:nth-child(2){
    opacity: 0;
}
.header.open .container__header-burger span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}
.header.open .container__header-burger span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}
.header.open body{
        overflow: hidden !important;
        position: fixed !important;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width:1280px) {
        height: 600px;
    }
}
.article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    // margin: 0% 5% 0% 10%;
    min-width: 418px;
    gap: 30px;
}
.container__header{
    display: flex;
    justify-content: center;
    position: relative;
    flex-shrink: 1;
   
    &-list{
        // margin-left: 15%;
        display: flex;
       @media (max-width:1170px) {
        position: absolute;
        left: -100vw;
        top: 0;
        width: 100vw;
        background: #002F51;
        // padding: 100px 20px 20px 20px;
        transition: transform .2s;
       }
    }
    &-burger{
        width: 40px;
        height: 40px;
        border: none;
        background: transparent;
        position: relative;
        display: none;
        @media (max-width: 1170px) {
            display: block;
            z-index: 10;
            position: absolute;
            left: 0;
            margin: 32px;
        }
    }
}
.styling-mobile{
    display: none;
    @media (max-width:1170px) {
        display: flex;
        z-index: 1;
    }
}
.container__header-burger span{
    position: absolute;
    left: 5px;
    width: 30px;
    height: 2px;
    background: #000;
    transition: transform .2s, opacity .2s, background-color .2s;
}
.container__header-burger span:nth-child(1){
    transform: translateY(-10px);
}
.container__header-burger span:nth-child(3){
    transform: translateY(10px);
}
a.non-hover{
    cursor:unset;
}
.serv-list-item{
    text-decoration: none;
    color: #00182A;
}
a.menu{
    text-decoration: none;
    color: #00182A;
    border-bottom: 2px solid white;
    &--large{
        max-width: 520px;
    }
   @media (max-width:1170px) {
    color: white;
    border-bottom: 0px;
    display: block;
   }
}
.header-list--cont li:last-child{
    @media (max-width:1170px) {
        display: none;
    }
}
a.menu-header{
    // min-width: 100px !important;
    @media (max-width:1170px) {
        border-bottom: 2px solid transparent;
    }
}
a.menu-header:hover{
    transition: .2s all ease-in-out;
    border-bottom: 2px solid #00182A;
    @media (max-width:1170px) {
        border-bottom: 2px solid white;

    }
}
.mobile-only{
    display: none;
    @media(max-width:1170px){
        display: block;
    }
}
.desktop-only{
    display: flex;
    @media(max-width:1170px){
        display: none !important;
    }
}
.services-flex{
margin-left: 32%;
    @media (max-width:1170px) {
        margin: 0;
    }
    

}
.services-li{
    margin-left: 31%;
    @media (max-width:1170px) {
        margin-left: 0;
    }
}
.rel-ph{
@media (max-width:1170px) {
    width: 296px;
    // margin: 0 auto;
}
    
}
.rules-mob-serv{
@media (max-width:1170px) {
    flex-direction: column;
  margin: 0 auto;
}

}
.ph-mob{
    width: 296px;
    margin: 0 auto;
}
.photo-frame{
    margin-top: 50px; 
    max-width: 1245px; 
    height: 476px; 
    // display: flex; 
    gap: 30px;
}
.blue-shield{
    margin-top: 120px;
    height: 434px;
    width: 100%;
    background: #8DC4EB;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    text-align: center;
    &--attitide{
        // position: absolute;
        // top: -105px;;
        // bottom: 0;
    }
}
.blue-shield p{
    max-width: 262px;
}
.blue-shield h2{
    max-width: 262px;
}
.upper-h1{
    margin-top: 60px;
    text-transform: uppercase;
    // display: flex; 
    justify-content: flex-start;
    @media (max-width:1170px) {
        margin-top: 30px
    }

}
.sh{
    @media (max-width:1170px) {
        min-width: 18px;
        min-height: 22px;
    }
}
.image-section{
    @media (max-width:1170px) {
        width: 100%;
        margin-left: 32px;
        margin-right: 32px;
    }
    
}
.wht{
    color: white !important;
}
.header.open .phone-ham{
    color: white;
}
.ov{
    padding-bottom: 120px;
    margin: 7% 0;
    @media (max-width:1170px) {
        padding-bottom: 30px;
    margin: 0% 0;
    }
    &-lg{
        padding-bottom: 150px;
    margin: 7% 0;
    @media (max-width:1170px) {
        padding-bottom: 30px;
    margin: 0% 0;
    }
    }
}
.ds-m{
    margin-bottom: 120px;
    @media (max-width:1170px) {
        margin-bottom: 0;
    }
}
.dis{
    display: flex;
  justify-content: center;
  align-items: center;
}
.services{
    margin: 120px 0 0 0;
    &__list{
        // margin: 30px 0;
        list-style: none;
        min-width: 470px;
        display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-main{
    @media (max-width:1170px) {
        list-style: none;
        min-width: 470px;
        display: flex;
  flex-direction: column;
  justify-content: space-between;
    // margin: 32px 0 0 22px;
    margin: 0 0px 0 0px;
    min-width: 296px;
            max-width: 100%;
    }
    
  }
        @media (max-width:1170px) {
            min-width: 296px;
            max-width: 100%;
            
    // margin: 0 32px 0 32px;
            // margin: 50px;
            // max-width: 296px;
        }
}
    &__content{
        // margin: 30px -291px;
        display: flex;
        gap: 30px;
        max-height: 195px;
        @media(max-width:1280px){
            margin: 30px -345px;
        }
        }
}
.serv-div{
    justify-content: center;
    align-items: center;
}
.advantage-name{
    // margin-right: -112%;
    margin-right: 33.5%;
    // border-bottom: 2px solid #002F51;
            // width: 100vw;
    @media (max-width:1170px) {
        margin-right: 25%;
    }
}
.services-name{
    margin: 0;
    text-transform: uppercase;
    margin-right: 31%;
    @media (max-width:1170px) {
        margin-right: 31%;
    }
}
.advantage{
    width: 70vw;
    margin: 120px 0 0px -38%;
    @media (max-width:1280px) {
        margin: 120px 0 0px -53%;
    }
    
    &__content{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 30px;
        margin: 30px 0;
        @media (max-width:1170px) {
            align-items: center;
            justify-content: center;
        }
        &-item{
           
            width: 270px;
            height: 404px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            &:last-child{
                @media (max-width:1170px) {
                    height: 100px; 
                    // width: 296px;
                    width: 100%;
                }
            }
            @media (max-width:1170px) {
                // width: 296px;
                width: 100%;
            }
        }
    }
}
.adv-sep{
    margin-top: 60px !important;
}
.advantage-main{
    // margin: 0 10% 0 12%;
    @media (max-width:1170px) {
        margin: 0;
    }
}
.button-text{
    color: white;
    text-decoration: none;
}
button{
    cursor: pointer;
    width: 270px;
    height: 57px;
    background: #002F51;
    color: white;
    border: none;
    @media (max-width:1170px) {
        width: 296px;
    }
}
.readmore{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.showmore{
    position: absolute;
    bottom: 0;
    @media (max-width:1170px) {
        top: 0;
        width: 296px;
    }
}
.adv{
    margin: 0 22.4%;
    width: 100vw;
    border-bottom: 2px solid #002F51;
    padding: 0 0px 25px 0;
}
.separated{
    display: flex;
    gap: 30px;
    margin: 0px 0 0 0;
}
.anon{
    background-image:url('../components/images/anon.png');
    background-size: 100% 100%;
    object-fit: cover;
    @media (max-width:1170px) {
        background-image: url('../components/images/adv-mob-1.png');
    }
}
.cval{
    background-image:url('../components/images/cval.png');
    @media (max-width:1170px) {
        background-size: 100% 100%;
    object-fit: cover;
        background-image: url('../components/images/adv-mob-2.png');
    }
}
.info{
    background-image:url('../components/images/info.png');
    @media (max-width:1170px) {
        background-size: 100% 100%;
    object-fit: cover;
        background-image: url('../components/images/adv-mob-3.png');
    }
}
.expert{
    background-image:url('../components/images/expert.png');
    @media (max-width:1170px) {
        background-size: 100% 100%;
    object-fit: cover;
        background-image: url('../components/images/adv-mob-4.png');
        background-repeat: no-repeat;
    }
}
.methods{
    background-image:url('../components/images/methods.png');
    @media (max-width:1170px) {
        background-size: 100% 100%;
    object-fit: cover;
        background-image: url('../components/images/adv-mob-5.png');
    }
}
.way{
    background-image:url('../components/images/way.png');
    @media (max-width:1170px) {
        background-size: 100% 100%;
    object-fit: cover;
        background-image: url('../components/images/adv-mob-6.png');
    }
}

svg{
    width: 20px;
    height: 30px;
    margin: 0px 20px 0 10px;
}
.shield{
    display: flex;
    align-items: center;
    &--listed{
        display: flex;
        align-items: flex-start;
    }
}
.list-yur{
    align-items: flex-start;
}
p.social{
    display: flex;
    justify-content: space-between;
    &--contact{
        display: flex;
        justify-content: space-between;
        align-items: center;     
    }
}


#myBtn {
    width: 50px;
    height: 50px;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:  #316488; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px;
    
    
  }
  #myBtn svg{
    width: 20px;
    height: 30px;
    margin: 0px 20px 0 10px;
    fill: none;
    transition: fill 1s ease-in-out;
   
}
path{
    transition: fill .2s ease-in-out;
   
}
button svg path{
    fill: black;
}
button:hover svg path{
    fill: white;
}
  #myBtn:hover {
    transition: .2s all ease-in-out;
    background-color: #002F51;
  }
  #myBtn svg.topButton{
    fill: none;
  }
  #myBtn:hover svg.topButton{
    fill: white;
  }
.shield::before{
    // content:url('../components/images/shield.svg');
    margin: 7px 20px 0px 0px;
      // margin: 0 auto;
}

.foot{
    width: 100vw;
    height: 495px;
    margin: 0 -33%;
    background: #002F51;
    display: flex;
    justify-content: center;
    align-items: center;
   @media(max-width:1280px){
    margin: 0 -7%;
   }
}
.desc{
    text-align: justify;
}
.c-f{
    @media (max-width:1170px) {
        width: 270px;
    }
}
// .telp{
//     order: 1;
//     // @media (max-width:1170px) {
//     //     order: 3;
//     // }
// }
// .post{
// order: 2;
// }
// .address{
//     order: 3;
//     // @media (max-width:1170px) {
//     //     order: 1;
//     // }
// }
.data{
    border-bottom: 2px solid white;
    padding: 0 0 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    // width: 50vw;
    margin-right: 50px;
  width: 270px;
  margin-top: -10px;
    @media (max-width:1170px) {
        margin-right: 0px;
        padding: 0 0 60px 0px;
        text-align: center;
    }
    &-item{
        color: white;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    display: flex;
    flex-direction: column;
    }
}

.menu-footer{
    color: white;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    display: flex;
    flex-direction: column;
    width: 127px;
    margin-right: 140px;
    @media (max-width:1170px) {
        align-items: center;
        margin-right: 0;
    }
}

.bright{
    color: white;
    filter: brightness(50%);
}
.container__foot{
     width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @media (max-width:1280px) {
        gap: 0;   
    }
    @media (max-width: 1170px) {
        flex-direction: column;
        gap: 30px;
        margin-top: 60px;
    }
    &-rules{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 255px;
        width: 270px;
        margin-left: 10px;
        @media (max-width:1170px) {
            height: 100%;
            margin-left: 0;
        }
    }

}
.cnt-obj{
    margin: 0 auto;
}
.cnt-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.just-centered-m{
    @media (max-width:1170px) {
        text-align: center;
    }
    
}
.just-centered{
    text-align: center;
}
.mobile-footer{
    width: 170px; 
    color:white;
    @media (max-width:1170px) {
        text-align: center;
    width: 100%;
    color:white;
    }
}