@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@font-face {
  font-family: "DIN Condensed";
  src: local("DIN Condensed Regular"), local("DIN-Condensed-Regular"), url("../components/font-file/DINCondensed-Regular.woff2") format("woff2"), url("../components/font-file/DINCondensed-Regular.woff") format("woff"), url("../components/font-file/DINCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overflow-h {
  overflow: hidden;
}

.wrapper {
  margin: 0% 375px 0px 375px;
}
.wrapper-st {
  margin: 0 auto;
  width: 1220px;
}
@media (max-width: 1490px) {
  .wrapper-st {
    margin: 0 0 0 0%;
  }
}
@media (max-width: 1170px) {
  .wrapper-st {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.policy {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #002F51;
}
.policy:hover {
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid white;
}

.h1 {
  font-family: "DIN Condensed";
  font-weight: 400;
  font-size: 36px;
  line-height: 43.2px;
}
.h1--white {
  color: #FFFFFF;
  font-family: "DIN Condensed";
  line-height: 86px;
  font-size: 72px;
  letter-spacing: 1.5%;
  font-weight: 400;
}

.h3 {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 27px;
  letter-spacing: 1.5%;
  color: #00182A;
}
.h3--white {
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 27px;
  letter-spacing: 1.5%;
}
.h3--grey {
  color: #808C95;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 27px;
  letter-spacing: 1.5%;
  font-weight: 400;
}
.h3--uppercase {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 27px;
  letter-spacing: 1.5%;
  align-self: self-start;
  margin: 160px 25px;
}
@media (max-width: 1170px) {
  .h3--uppercase {
    margin: 160px 38px;
  }
}
.h3--uppercase--right {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 27px;
  letter-spacing: 1.5%;
  align-self: self-start;
  margin: 160px -230px;
}

.h4 {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  line-height: 21px;
  letter-spacing: 1.5%;
  color: #00182A;
}
.h4--white {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.5%;
}
.h4--grey {
  color: #808C95;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1.5%;
  font-weight: 400;
}
.h4--divider {
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.3em !important;
}

.left {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  gap: 15px !important;
}

.right {
  margin: 40px 0;
  max-width: 370px;
}
@media (max-width: 1170px) {
  .right {
    max-width: 570px;
  }
}

@media (max-width: 1170px) {
  .about-theme {
    margin-left: 0;
  }
}
@media (max-width: 1490px) {
  .about-theme {
    margin-left: 0;
  }
}

.m-top {
  margin-top: 60px;
}
@media (max-width: 1170px) {
  .m-top {
    margin-top: 30px;
  }
}

.company-article {
  max-height: 585px;
}
@media (max-width: 1170px) {
  .company-article {
    max-height: 100%;
  }
}

.mg-t-h {
  margin-top: 30px;
}
@media (max-width: 1170px) {
  .mg-t-h {
    margin-top: 0px;
  }
}

.mg-t {
  margin-top: 150px;
}
@media (max-width: 1170px) {
  .mg-t {
    margin-top: 0px;
  }
}

.about {
  margin: 120px 0 0 0;
}
.about__content {
  display: flex;
  gap: 30px;
  width: 65.5vw;
  margin: 30px -23.2%;
}
@media (max-width: 1170px) {
  .about__content {
    flex-direction: column;
  }
}
.about__content-item {
  width: 570px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media (max-width: 1170px) {
  .about__content-item {
    width: 100%;
  }
}

button.sub-form {
  background: #002F51;
  border: none;
  width: 270px;
  height: 57px;
}

@media (max-width: 1170px) {
  .rep-mob {
    flex-direction: column;
  }
}

.art-img {
  margin: 0 auto;
  width: 100%;
}

.justify {
  text-align: justify;
}

.st-padding {
  margin: -11px 0px 120px 8%;
}
@media (max-width: 1170px) {
  .st-padding {
    margin: 0;
  }
}

.border-b {
  padding-bottom: 65px;
  border-bottom: 2px solid #002F51;
}
@media (max-width: 1170px) {
  .border-b {
    border-bottom: none;
    padding-bottom: 0px;
  }
}

.rep-art {
  width: 270px;
  text-align: justify;
}
@media (max-width: 1170px) {
  .rep-art {
    width: 100%;
  }
}
@media (max-width: 1170px) {
  .rep-art-exept {
    width: 100%;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1170px) {
  .contact-form {
    margin: -90px 15%;
  }
}
.contact-form--input {
  width: 270px;
  border: none;
  border-bottom: 2px solid #002F51;
}
.contact-form-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1170px) {
  .contact-form-main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: -90px 0;
  }
}

.check {
  display: flex;
  width: 270px;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: -20px 0px 0px -4px;
}
.check--box {
  width: 18px;
  height: 18px;
  accent-color: #002F51;
  border: 2px solid #002F51;
  align-self: baseline;
  margin: 3px;
}

.blue-shells {
  flex-direction: row;
  margin-top: 120px;
}

.rel-pos {
  position: relative;
}

.services-margin {
  margin-left: 211px;
}
@media (max-width: 1490px) {
  .services-margin {
    margin-left: 180px;
  }
}
@media (max-width: 1170px) {
  .services-margin {
    margin-left: 0;
  }
}

.transition-text-div {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1170px) {
  .transition-text-div {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1170px) {
  .dir-col {
    display: flex;
    flex-direction: column;
  }
}

.phone {
  color: #00182A;
  text-decoration: none;
  margin-left: 40px;
}
.phone:visited::focus::hover::active {
  color: #00182A;
}
@media (max-width: 1170px) {
  .phone:visited::focus::hover::active {
    display: none;
  }
}

.phone-ham {
  color: #00182A;
  text-decoration: none;
  padding: 0;
  position: absolute;
  right: 0;
  margin: 40px;
}

.paragraph-article {
  width: 570px;
}
@media (max-width: 1170px) {
  .paragraph-article {
    width: 100%;
  }
}

.divider {
  height: 168px;
  margin: 120px 0 0 -88.4%;
  display: flex;
  gap: 30px;
}
@media (max-width: 1280px) {
  .divider {
    margin: 200px 0 0 -102.4%;
  }
}
.divider__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 25px;
}
.divider__left {
  height: 168px;
  width: 70.8vw;
  background: #8DC4EB;
  display: flex;
}
@media (max-width: 1280px) {
  .divider__left {
    width: 81.8vw;
  }
}
.divider__left-img {
  width: 270px;
  height: 296px;
  margin: -10.7% 0 0 0;
}
.divider__left-content {
  display: flex;
  margin: 0 0 0 28%;
}
@media (max-width: 1280px) {
  .divider__left-content {
    margin: 0 0 0 0%;
  }
}
.divider__right {
  height: 168px;
  width: 30vw;
  background: #8DC4EB;
}

.aside-form {
  width: 270px;
  float: left;
}
.aside-form--cont {
  margin: -10.3% 30px 0 30px;
}
@media (max-width: 1170px) {
  .aside-form--cont {
    margin: 0 auto;
  }
}
@media (max-width: 1280px) {
  .aside-form {
    left: 40px;
  }
}

.parag {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo {
  width: 270px;
  height: 296px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 85px;
}

.article__images--block {
  display: flex;
  gap: 30px;
  width: 165%;
  height: auto;
}

@media (max-width: 1490px) {
  .huge-img {
    margin: 0;
  }
}

.form-img {
  width: 270px;
  height: 174px;
  margin-top: 60px;
}
@media (max-width: 1170px) {
  .form-img {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.no-scroll {
  position: fixed;
  overflow-y: scroll !important;
  width: 100%;
  height: 100%;
}

.header.open .container__header-list body {
  overflow: hidden;
  position: fixed;
}

@media (max-width: 1290px) {
  .form {
    margin: 0px 30px 0 0% !important;
  }
}

@media (max-width: 1170px) {
  .override:last-child {
    padding-bottom: 0px;
  }
}
@media (max-width: 1170px) {
  .override {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }
}

.foot-add {
  width: 101vw;
  height: 495px;
  background: #002F51;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1490px) {
  .foot-add {
    width: 100vw;
  }
}
@media (max-width: 1170px) {
  .foot-add {
    height: 100%;
  }
}

#name-label {
  visibility: hidden;
}

@media (max-width: 1170px) {
  .order-mob {
    order: 2;
    margin-bottom: 40px;
  }
}

#phone-label {
  visibility: hidden;
}

#name-label-mob {
  visibility: hidden;
}

#phone-label-mob {
  visibility: hidden;
}

.show {
  display: block !important;
}

.crop {
  padding-left: 25%;
}
@media (max-width: 1170px) {
  .crop {
    padding-left: 0;
  }
}

#registration {
  display: none;
}

.foot-str {
  margin: 0 0% !important;
}

.selector a p {
  border-bottom: 2px solid transparent;
}

.selector a .main {
  width: 58%;
}

.selector a .serv {
  width: 58%;
}

.selector a .ad {
  width: 68%;
}

.selector a .ab {
  width: 100%;
}

.selector a .cont {
  width: 66%;
}

.selector a:hover p {
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid white;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  min-width: 18px;
  height: 18px;
  border: 2px solid #002F51;
  background-clip: content-box;
  padding: 3px;
}
input[type=checkbox]:checked {
  accent-color: #002F51;
  background-color: #002F51;
}

.d-n {
  display: none;
}

.mod-w {
  filter: brightness(100%) !important;
  transition: all 0.2s ease-in-out;
}

.modal {
  top: 45%;
  left: 35%;
  position: absolute;
  z-index: 100;
}
@media (max-width: 1170px) {
  .modal {
    width: 360px;
    height: 287px;
  }
}

input:focus {
  outline: none;
}

.modal .active {
  visibility: visible;
  position: relative;
  z-index: 3;
}

.mobile-h {
  margin-left: 32px;
}

@media (max-width: 1170px) {
  .contents {
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
    padding: 32px;
    margin: 0 auto;
  }
}
.contents__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1170px) {
  .contents__item {
    flex-direction: column;
  }
}
.contents__item:last-child {
  margin-bottom: 120px;
}
@media (max-width: 1170px) {
  .contents__item:last-child {
    margin-bottom: 0px;
  }
}

li.service:hover .arrow {
  transform: rotate(180deg);
  transition: all 0.2s ease;
}
@media (max-width: 1170px) {
  li.service:hover .arrow {
    transform: rotate(0deg);
  }
}

li.service .arrow {
  transition: all 0.2s ease;
}

.ar-rot {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.menu {
  border-bottom: 2px solid #002F51;
}

.dropdown {
  position: relative;
  display: inline-block;
  min-width: 100px;
}
@media (max-width: 1170px) {
  .dropdown {
    position: relative;
    display: inline-block;
    max-width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
@media (max-width: 1170px) {
  .dropdown-content a {
    color: white;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -15px;
  background-color: #8DC4EB;
  min-width: 369px;
  border: 15px solid white;
  z-index: 1;
  border-top: 24px solid white;
}
@media (max-width: 1170px) {
  .dropdown-content {
    border: none;
    position: static;
    border-top: none;
    background: transparent;
    background-color: transparent;
    color: white;
    box-shadow: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.dropdown-content a:first-child {
  margin-top: 25px;
}
@media (max-width: 1170px) {
  .dropdown-content a:first-child {
    margin-top: 0px;
  }
}

.contact-form input:invalid + b:before {
  content: "Form is invalid";
  color: red;
}

input[type=text]:invalid ~ label {
  color: red;
}

.dropdown-content a {
  background: #8DC4EB;
  height: 47px;
  display: flex;
  padding: 30px;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1170px) {
  .dropdown-content a {
    background: transparent;
    justify-content: center;
    border-bottom: 2px solid transparent;
  }
}

@media (max-width: 1170px) {
  .dropdown-content a p {
    border-bottom: 2px solid transparent;
  }
}

.form-n {
  margin-top: 60px;
}
@media (max-width: 1170px) {
  .form-n {
    margin-top: 30px;
  }
}

.dropdown-content a:hover {
  background-color: white;
  color: black;
}
@media (max-width: 1170px) {
  .dropdown-content a:hover {
    background-color: transparent;
    color: white;
  }
}

@media (max-width: 1170px) {
  .dropdown-content a:hover p {
    color: white;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    border-bottom: 2px solid white;
  }
}

.dropdown-content a:last-child {
  margin-bottom: 25px;
}
@media (max-width: 1170px) {
  .dropdown-content a:last-child {
    margin-bottom: 0px;
  }
}

.dropdown-content a:hover {
  transition: all 0.2s ease-in-out;
}

.dropdown:hover .dropdown-content {
  display: block;
}
@media (max-width: 1170px) {
  .dropdown:hover .dropdown-content {
    display: none;
  }
}

.d-ctn {
  display: block !important;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.header-list {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 30px 10px 0px 0;
  padding: 0 0px 25px 0;
}
@media (max-width: 1170px) {
  .header-list {
    flex-wrap: nowrap;
  }
}
@media (max-width: 1170px) {
  .header-list--cont {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 396px;
    justify-content: flex-start;
    margin: 124px 0;
    width: 100vw;
    height: 100vh;
  }
}
@media (max-width: 1280px) {
  .header-list {
    display: flex;
  }
}

.header.open .container__header-list body {
  position: fixed;
}

.header.open .container__header-list {
  overscroll-behavior: contain;
}
@media (max-width: 1170px) {
  .header.open .container__header-list {
    transform: translateX(100%);
    height: 100vh;
    overscroll-behavior-y: contain;
    overflow-y: scroll;
  }
}

.header.open .container__header-burger span {
  background-color: white;
}

.header.open .container__header-burger span:nth-child(2) {
  opacity: 0;
}

.header.open .container__header-burger span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .container__header-burger span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header.open body {
  overflow: hidden !important;
  position: fixed !important;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1280px) {
  .heading {
    height: 600px;
  }
}

.article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 418px;
  gap: 30px;
}

.www {
  width: 100%;
  height: 1000%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  z-index: 2;
  position: absolute;
}

.close-bt {
  background: transparent;
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 101;
  left: 735px;
  top: 79px;
}
@media (max-width: 1170px) {
  .close-bt {
    left: 304px;
    top: 73px;
  }
}

.non-closed {
  position: fixed;
  left: 35%;
  top: 34%;
  z-index: 10;
  filter: brightness(100%);
  transition: all 0.2s ease-in-out 0s;
}
@media (max-width: 1170px) {
  .non-closed {
    left: 2%;
    top: 34%;
  }
}

.container__header {
  display: flex;
  justify-content: center;
  position: relative;
  flex-shrink: 1;
}
.container__header-list {
  display: flex;
}
@media (max-width: 1170px) {
  .container__header-list {
    position: absolute;
    left: -100vw;
    top: 0;
    width: 100vw;
    background: #002F51;
    transition: transform 0.2s;
  }
}
.container__header-burger {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  position: relative;
  display: none;
}
@media (max-width: 1170px) {
  .container__header-burger {
    display: block;
    z-index: 10;
    position: absolute;
    left: 0;
    margin: 32px;
  }
}

.styling-mobile {
  display: none;
}
@media (max-width: 1170px) {
  .styling-mobile {
    display: flex;
    z-index: 1;
  }
}

.container__header-burger span {
  position: absolute;
  left: 5px;
  width: 30px;
  height: 2px;
  background: #000;
  transition: transform 0.2s, opacity 0.2s, background-color 0.2s;
}

.container__header-burger span:nth-child(1) {
  transform: translateY(-10px);
}

.container__header-burger span:nth-child(3) {
  transform: translateY(10px);
}

a.non-hover {
  cursor: unset;
}

.serv-list-item {
  text-decoration: none;
  color: #00182A;
}

a.menu {
  text-decoration: none;
  color: #00182A;
  border-bottom: 2px solid white;
}
a.menu--large {
  max-width: 520px;
}
@media (max-width: 1170px) {
  a.menu {
    color: white;
    border-bottom: 0px;
    display: block;
  }
}

@media (max-width: 1170px) {
  .header-list--cont li:last-child {
    display: none;
  }
}

@media (max-width: 1170px) {
  a.menu-header {
    border-bottom: 2px solid transparent;
  }
}

a.menu-header:hover {
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid #00182A;
}
@media (max-width: 1170px) {
  a.menu-header:hover {
    border-bottom: 2px solid white;
  }
}

.mobile-only {
  display: none;
}
@media (max-width: 1170px) {
  .mobile-only {
    display: block;
  }
}

.desktop-only {
  display: flex;
}
@media (max-width: 1170px) {
  .desktop-only {
    display: none !important;
  }
}

.services-flex {
  margin-left: 32%;
}
@media (max-width: 1170px) {
  .services-flex {
    margin: 0;
  }
}

.services-li {
  margin-left: 31%;
}
@media (max-width: 1170px) {
  .services-li {
    margin-left: 0;
  }
}

@media (max-width: 1170px) {
  .rel-ph {
    width: 296px;
  }
}

@media (max-width: 1170px) {
  .rules-mob-serv {
    flex-direction: column;
    margin: 0 auto;
  }
}

.ph-mob {
  width: 296px;
  margin: 0 auto;
}

.photo-frame {
  margin-top: 50px;
  max-width: 1245px;
  height: 476px;
  gap: 30px;
}

.blue-shield {
  margin-top: 120px;
  height: 434px;
  width: 100%;
  background: #8DC4EB;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  text-align: center;
}
.blue-shield p {
  max-width: 262px;
}

.blue-shield h2 {
  max-width: 262px;
}

.upper-h1 {
  margin-top: 60px;
  text-transform: uppercase;
  justify-content: flex-start;
}
@media (max-width: 1170px) {
  .upper-h1 {
    margin-top: 30px;
  }
}

@media (max-width: 1170px) {
  .sh {
    min-width: 18px;
    min-height: 22px;
  }
}

@media (max-width: 1170px) {
  .image-section {
    width: 100%;
    margin-left: 32px;
    margin-right: 32px;
  }
}

.wht {
  color: white !important;
}

.header.open .phone-ham {
  color: white;
}

.header.open .hide-h {
  background: #002F51;
  z-index: 100;
}

.ov {
  padding-bottom: 120px;
  margin: 7% 0;
}
@media (max-width: 1170px) {
  .ov {
    padding-bottom: 30px;
    margin: 0% 0;
  }
}
.ov-lg {
  padding-bottom: 150px;
  margin: 7% 0;
}
@media (max-width: 1170px) {
  .ov-lg {
    padding-bottom: 30px;
    margin: 0% 0;
  }
}

.ds-m {
  margin-bottom: 120px;
}
@media (max-width: 1170px) {
  .ds-m {
    margin-bottom: 0;
  }
}

.dis {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  margin: 120px 0 0 0;
}
.services__list {
  list-style: none;
  min-width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1170px) {
  .services__list-main {
    list-style: none;
    min-width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0px 0 0px;
    min-width: 296px;
    max-width: 100%;
  }
}
@media (max-width: 1170px) {
  .services__list {
    min-width: 296px;
    max-width: 100%;
  }
}
.services__content {
  display: flex;
  gap: 30px;
  max-height: 195px;
}
@media (max-width: 1280px) {
  .services__content {
    margin: 30px -345px;
  }
}

.serv-div {
  justify-content: center;
  align-items: center;
}

.advantage-name {
  margin-right: 33.5%;
}
@media (max-width: 1170px) {
  .advantage-name {
    margin-right: 25%;
  }
}

.services-name {
  margin: 0;
  text-transform: uppercase;
  margin-right: 31%;
}
@media (max-width: 1170px) {
  .services-name {
    margin-right: 31%;
  }
}

.advantage {
  width: 70vw;
  margin: 120px 0 0px -38%;
}
@media (max-width: 1280px) {
  .advantage {
    margin: 120px 0 0px -53%;
  }
}
.advantage__content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 0;
}
@media (max-width: 1170px) {
  .advantage__content {
    align-items: center;
    justify-content: center;
  }
}
.advantage__content-item {
  width: 270px;
  height: 404px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 1170px) {
  .advantage__content-item:last-child {
    height: 100px;
    width: 100%;
  }
}
@media (max-width: 1170px) {
  .advantage__content-item {
    width: 100%;
  }
}
@media (max-width: 1170px) {
  .advantage__content-item--main {
    width: 296px !important;
  }
}

.adv-sep {
  margin-top: 60px !important;
}

@media (max-width: 1170px) {
  .advantage-main {
    margin: 0;
  }
}

.button-text {
  color: white;
  text-decoration: none;
}

button {
  cursor: pointer;
  width: 270px;
  height: 57px;
  background: #002F51;
  color: white;
  border: none;
}
@media (max-width: 1170px) {
  button {
    width: 296px;
  }
}

.readmore {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.showmore {
  position: absolute;
  bottom: 0;
}
@media (max-width: 1170px) {
  .showmore {
    top: 0;
    width: 296px;
  }
}

.adv {
  margin: 0 22.4%;
  width: 100vw;
  border-bottom: 2px solid #002F51;
  padding: 0 0px 25px 0;
}

.separated {
  display: flex;
  gap: 30px;
  margin: 0px 0 0 0;
}

.anon {
  background-image: url("../components/images/anon.png");
  background-size: 100% 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1170px) {
  .anon {
    background-image: url("../components/images/adv-mob-1.png");
    background-size: 100% 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.cval {
  background-image: url("../components/images/cval.png");
}
@media (max-width: 1170px) {
  .cval {
    background-size: 100% 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-image: url("../components/images/adv-mob-2.png");
  }
}

.info {
  background-image: url("../components/images/info.png");
}
@media (max-width: 1170px) {
  .info {
    background-size: 100% 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-image: url("../components/images/adv-mob-3.png");
  }
}

.expert {
  background-image: url("../components/images/expert.png");
}
@media (max-width: 1170px) {
  .expert {
    background-size: 100% 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-image: url("../components/images/adv-mob-4.png");
    background-repeat: no-repeat;
  }
}

.methods {
  background-image: url("../components/images/methods.png");
}
@media (max-width: 1170px) {
  .methods {
    background-size: 100% 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-image: url("../components/images/adv-mob-5.png");
  }
}

.way {
  background-image: url("../components/images/way.png");
}
@media (max-width: 1170px) {
  .way {
    background-size: 100% 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-image: url("../components/images/adv-mob-6.png");
  }
}

svg {
  width: 20px;
  height: 30px;
  margin: 0px 20px 0 10px;
}

.shield {
  display: flex;
  align-items: center;
}
.shield--listed {
  display: flex;
  align-items: flex-start;
}

.list-yur {
  align-items: flex-start;
}

p.social {
  display: flex;
  justify-content: space-between;
}
p.social--contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#myBtn {
  width: 50px;
  height: 50px;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #316488; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px;
}

#myBtn svg {
  width: 20px;
  height: 30px;
  margin: 0px 20px 0 10px;
  fill: none;
  transition: fill 1s ease-in-out;
}

path {
  transition: fill 0.2s ease-in-out;
}

button svg path {
  fill: black;
}

button:hover svg path {
  fill: white;
}

#myBtn:hover {
  transition: 0.2s all ease-in-out;
  background-color: #002F51;
}

#myBtn svg.topButton {
  fill: none;
}

#myBtn:hover svg.topButton {
  fill: white;
}

.shield::before {
  margin: 7px 20px 0px 0px;
}

.foot {
  width: 100vw;
  height: 495px;
  margin: 0 -33%;
  background: #002F51;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1280px) {
  .foot {
    margin: 0 -7%;
  }
}

.c-foot {
  margin-left: 13px;
}
@media (max-width: 1280px) {
  .c-foot {
    margin-left: -42px !important;
  }
}
@media (max-width: 1452px) {
  .c-foot {
    margin-left: -170px;
  }
}
@media (max-width: 1215px) {
  .c-foot {
    margin-left: 22px !important;
  }
}

.desc {
  text-align: justify;
}

@media (max-width: 1170px) {
  .c-f {
    width: 270px;
  }
}

html.shadow:not(.mod-w) {
  filter: brightness(50%);
}

.frs {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  color: white;
  height: 15px;
  transform: rotate(45deg);
  z-index: 20;
}

.scd {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  color: white;
  height: 15px;
  z-index: 21;
  transform: rotate(90deg);
}

.sh-no {
  opacity: 1 !important;
}

.input-control .error {
  color: red;
  font-size: 9px;
}

.data {
  border-bottom: 2px solid white;
  padding: 0 0 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 50px;
  width: 270px;
  margin-top: -10px;
}
@media (max-width: 1170px) {
  .data {
    margin-right: 0px;
    padding: 0 0 60px 0px;
    text-align: center;
  }
}
.data-item {
  color: white;
  text-decoration: none;
  list-style: none;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.menu-footer {
  color: white;
  text-decoration: none;
  list-style: none;
  gap: 30px;
  display: flex;
  flex-direction: column;
  width: 127px;
  margin-right: 140px;
}
@media (max-width: 1170px) {
  .menu-footer {
    align-items: center;
    margin-right: 0;
  }
}

.bright {
  color: white;
  filter: brightness(50%);
}

.container__foot {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1280px) {
  .container__foot {
    gap: 0;
  }
}
@media (max-width: 1170px) {
  .container__foot {
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
  }
}
.container__foot-rules {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 266px;
  width: 270px;
  margin-left: 10px;
}
@media (max-width: 1170px) {
  .container__foot-rules {
    height: 100%;
    margin-left: 0;
  }
}

.cnt-obj {
  margin: 0 auto;
}

.cnt-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1170px) {
  .just-centered-m {
    text-align: center;
  }
}

.just-centered {
  text-align: center;
}

.mobile-footer {
  width: 170px;
  color: white;
}
@media (max-width: 1170px) {
  .mobile-footer {
    text-align: center;
    width: 100%;
    color: white;
  }
}/*# sourceMappingURL=main.css.map */